haproxy:
  image: tutum/haproxy
  ports:
    - "33066:3306"
    - "8080:1936"
  links:
   - master_node
   - slave_node
  environment:
   BALANCE: roundrobin
   STATS_AUTH: "auth:auth"  
master_node:
  image: thienkimlove/galera-cluster
  hostname: master_node
  command: --wsrep-cluster-name=local-test --wsrep-cluster-address=gcomm://
  environment:
   TCP_PORTS: 3306
slave_node:
  image: thienkimlove/galera-cluster-v2
  command: --wsrep-cluster-name=local-test --wsrep-cluster-address=gcomm://master_node
  links:
   - master_node
  environment:
    TCP_PORTS: 3306 
